<% unless comment.archived? %> 
<tr>
    <td><%= $srno %><% $srno+=1 %></td>
    <td><%= comment.commenter %></td>
    <td><%= comment.body %></td>
    <td><%= comment.status %></td>
    <td><%= comment.created_at %></td>
    <td>   
    <%= link_to "Delete", [comment.article, comment], data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
    </td>
</tr>
<% end %> 

        