<%= form_with model: article do |form| %>
    <table>
        <tr>
            <th><%= form.label :title %></th>
            <td><%= form.text_field :title %></td>
            <td>
                <ul>
                <% article.errors.full_messages_for(:title).each do |message| %>
                <li><%= message %></li>
                <% end %>
                </ul>
            </td>
        </tr>
        <tr>
            <th><%= form.label :body %></th>
            <td><%= form.text_area :body %></td>
            <td>
                <ul>
                <% article.errors.full_messages_for(:body).each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><%= form.submit %></td>
            <td></td>
        </tr>
    </table>
  <% end %>