<html>
    <head>
        <title>.: Article | Show Article :. </title>
    </head>
<body>
        <center>
            <%= link_to "Home", articles_path() %>
            <h2>Article Details</h2>
            
            <table border="1px">
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Body</td>
                        <th>Status</th>
                        <td>Created At</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td><%= @article.title %></td>
                            <td><%= @article.body %></td>
                            <td><%= @article.status %></td>
                            <td><%= @article.created_at %></td>
                            <td> 
                                <%= link_to "Edit", edit_article_path(@article) %> &nbsp;
                                <%= link_to "Destroy", article_path(@article), data: {
                                        turbo_method: :delete,
                                        turbo_confirm: "Are you sure?" 
                                } %>
                            </td>
                        </tr>

                </tbody>
            </table>

            <h2>Article Comments</h2>
            <table border="1px">
                <thead>
                    <tr>
                        <td>Sr.No<% $srno=1 %></td>
                        <td>Commenter</td>
                        <td>Body</td>
                        <td>Status</td>
                        <td>Created At</td>
                        <td>Action</td>
                    </tr>
                </thead>
              
                    <%= render @article.comments %>  

                <tbody>
                </tbody>
            </table>
           
            <%= render 'comments/form' %>
        </center>
</body>
</html>
